html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    line-height: 1.65;
}

.container-navbar {
    max-width: 2000px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    background-color: aqua;
}

.logo img {
    width: 100%;
}

.navigasi {
    font-size: 10px;
    background-color: blue;
}

.isi-navigasi {
    display: flex;
    list-style: none;
    
}

.isi-navigasi li {
    margin: 20px;
}


@media (min-width: 600px) {
    .container-navbar{
        display: flex;
    }
}